<% include('../layoouts/header.ejs') %>
<h1>Forget Password</h1>

<%
    if(typeof message !== 'undefined')
    { %>
        <h4><%= message %></h4>
    <%}
%>

<form action="/forget" method="post">
    <input type="email" name="email" id="" placeholder="enter email" required>
    <br><br>
    <button type="submit">Send Reset Link</button>
</form>

<% include('../layoouts/footer.ejs') %>