<%- include('../layoouts/header.ejs') -%>
<h1>user registration</h1>
<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="" placeholder="Enter name">
    <br>
    <input type="email" name="email" id="" placeholder="Enter email">
    <br>
    <input type="number" name="phone" id="" placeholder="Enter mobile no.">
    <br>
    <input type="file" name="image">
    <br>
    <input type="password" name="password" id="" placeholder="Enter password">
    <br>
    <button type="submit" value="register">register</button>

</form>

<% 
    if(typeof message !== 'undefined')
    {%>
        <p style="color: green;"><%= message %></p>
    <%}
%>
<% include('../layoouts/footer.ejs')%>